.img {
    margin: 10px 0 20px;
}
.row {
    text-align: center;
    margin: 0 auto;
}
.projectLogo {
    max-width: 225px;
    margin: 0 auto 20px;
}
.projectHeader {
    min-height: 4rem;
    font-size: 1.6em;
    margin-bottom: 20px;
}
.tech {
    background: #19a0ce;
    color: #fff;
    padding: 1px 5px;
    margin: 3px 3px;
    display: inline-block;
    border-radius: 2px;
}
.techContainer {
    max-width: 80%;
    margin: 0 auto;
}